/* @import url('./node_modules/bootstrap/dist/css/bootstrap.min.css'); */
body{
  background-color: rgb(235, 235, 235);
}
* { 
  letter-spacing: .04em;
  padding: 0;
}
.color-1 {
  background-color: rgb(155, 216, 155);
}
img {
  opacity: .8;
}

li {
  list-style: none;
  background-clip: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}