@font-face {
	font-family: 'pusab';
	src: url('./fonts/8-bit-pusab.ttf');
}
@font-face {
	font-family: 'fortress';
	src: url('./fonts/8-bit fortress.ttf');
}

body {
	background-color: black;
  font-family: pusab, serif;
}
.app {
	height: 100vh;
	max-width: 992px;
	margin: 0 auto;
}

.start-button {
	background-color: rgb(70, 255, 23);
	letter-spacing: 0.08rem;
	font-weight: 600;
	border: 4px solid rgba(29, 24, 24, 0.356);
	color: black;
	font-size: 1rem;
	line-height: 2rem;
	height: 2.5rem;
}

.timer, .attempts {
  color:rgba(184, 184, 184, 0.829);
  
}

.win-message {
  font-family: fortress, serif;
  color: rgba(184, 184, 184, 0.829);
}

.win-message strong {
  font-family: fortress, serif;
  
}

#progress-bar {
	background-color: rgba(80, 80, 80, 0.829);
}
.progressColor1 {
	background-color: #22f32d;
}
ul {
	padding: 0;
}
li {
	list-style: none;
	background-clip: content-box;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: inset 0 0 50px -5px rgba(0, 0, 0, 0.719);
}
.pointer {
	cursor: pointer;
}
.hidden {
	opacity: 0;
}
.hidden-slow {
	opacity: 0;
	transition-delay: 0.5s;
	transition: opacity 2s;
}
.shown {
	opacity: 1;
}
.none {
	display: none;
}

/* img {
	opacity: 0;
} */
