body {
	background-color: #fff;
}
.app {
	height: 100vh;
  max-width: 576px;
  margin: 0 auto;
}

.color-1 {
	background-color: #9bd89b;
}
.progressColor1 {
	background-color: #9bd89b;
}
.borderWrong {
	border: 3px solid #d36246;
}
.borderSuccess {
	border: 3px solid rgba(75, 211, 104, 0.568);
}
ul {
	padding: 0;
}
li {
	list-style: none;
	background-clip: content-box;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.hidden {
	opacity: 0;
}
.shown {
	opacity: 1;
}
img {
	opacity: 0.5;
}

.back-white {
  background-color: white;
}

.none {
  display: none;
}

.font-big {
  font-size: 1.3rem;
}
